<div id="first">

    <div class="section">

        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="panel menu">
                        <div class="panel-heading menu">
                            <span>МЕНЮ</span>
                            <button class="btn-clear pull-right" ng-click="showNavigator()">
                                <i class="fa fa-list" aria-hidden="true"></i>
                            </button>

                        </div>
                        <div class="panel-body" id="navigator" uib-collapse="isCollapsedNavigator">
                            <div class="list-group">
                                <a ng-repeat="item in menuNames"class="list-group-item menu"  ng-click="selectMenu(item.id)">
                                    <div ng-class="{'itemActive': item.id == selected}">{{item.name}}</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div uib-collapse="isCollapsedMenu" class="menu-screen" ng-include="url.contentUrl" onload="cleanText()"></div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

</div>
