<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">
                <img alt="Пиццерия 'Пиццерони'"src="images/logo/banner-large01.png">
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-li">
                    <a class="nav-link" href="#/home">
                        <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                        <br> <span>Главная</span>
                    </a>
                </li>
                <li class="nav-li">
                    <a class="nav-link" href="#/menu">
                        <i class="fa fa-cutlery fa-2x" aria-hidden="true"></i>
                        <br> <span>Меню</span>
                    </a>
                </li>
                <li class="nav-li">
                    <a class="nav-link" href="#/contact">
                        <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                        <br> <span>Контакты</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    $(function() {
        $('.nav a').on('click', function(){
            if($('.navbar-toggle').css('display') !='none'){
                $(".navbar-toggle").trigger( "click" );
            }
        });
    });
</script>
